
#root{
  background-color: rgba(228, 228, 231, 0.226);
}

#game-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
}

#custom-header-contain{
  width: 200px;
  margin: auto;
  height: 60px;
}

#box-image-container-small{
  width:auto;
  height:200px;
  margin: auto;
  overflow: hidden;
}

#box-image-container-small img{
  width: auto;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.pagination{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}

.page-item{
  border: 1px solid black;
  width: 35px;
  float: left;

}

.page-item:active {
  background-color: chartreuse;
}

.page-link{
  cursor: pointer;
  display: block;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

.page-link:active {
  color: brown;
  background-color: chartreuse;
}
.page-link:target{
  background-color: chartreuse;
}

#logo-img{
  margin: auto; 
}



