.App {
  text-align: center;

}

#game-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
}

#game-item{
  border: 1px solid bisque;
  color: darkorchid;
}

#custom-header-contain{
  width: 200px;
  margin: auto;
  height: 60px;
}

#box-image-container-small{
  width:auto;
  height:200px;
  margin: auto;
}

#logo-img{
  margin: auto; 
}



